:root {
	--button-bg-color: #262626;
}

.control {
	position: relative;
	margin: 15px;
}

.winners-button {
	pointer-events: auto;
	position: relative;
	z-index: 1;
	padding: 10px;
	font-size: 30px;
	border-radius: 30px;
	background: var(--button-bg-color);
	color: white;
}

.winners-menu {
	pointer-events: auto;
	position: relative;
	z-index: 0;
	overflow: hidden;
	transition: transform 200ms;
	transform-origin: bottom;
	display: flex;
	flex-direction: column;
	background: white;
	padding-bottom: 24px;
	margin-bottom: -24px;
	font-weight: 400;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	padding-top: 10px;
	background: var(--button-bg-color);
}

.winners-menu:not(.open) {
	transform: scaleY(0);
}

.menu-item {
	padding: 5px 0;
	color: white;
	position: relative;
}
.menu-item.selected {
	font-weight: bold;
	text-shadow: 0 0 5px;
}

.selector {
	--radius: 20px;
	width: var(--radius);
	height: var(--radius);
	border-radius: var(--radius);
	border: 3px solid white;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: rotateTouchPoint 1.5s linear infinite;
	position: absolute;
  left: 22px;
	top: 15px;
}

.menu-button-selected {
	--radius: 38px;
	height: var(--radius);
	width: var(--radius);
	border: 3px solid white;
	position: absolute;
	bottom: 0;
	border-radius: var(--radius);
	z-index: 2;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}