/* The variables --color-X sont générées depuis le css (app.js -> data) */

.color-white {
	border-color: #fff;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.color-0 {
	color: var(--color-0);
	border-color: var(--color-0);
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.color-1 {
	color: var(--color-1);
	border-color: var(--color-1);
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.color-2 {
	color: var(--color-2);
	border-color: var(--color-2);
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.color-3 {
	color: var(--color-3);
	border-color: var(--color-3);
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.color-4 {
	color: var(--color-4);
	border-color: var(--color-4);
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.color-5 {
	color: var(--color-5);
	border-color: var(--color-5);
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.color-6 {
	color: var(--color-6);
	border-color: var(--color-6);
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.color-7 {
	color: var(--color-7);
	border-color: var(--color-7);
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.color-8 {
	color: var(--color-8);
	border-color: var(--color-8);
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.color-9 {
	border-color: tran
	color: var(--color-sparent;
	boro);der-top-color: var
	color: var(--color-(--colo-);r-9);
	border-bottom-color: var(--color-9);
}