<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="theme-color" content="#353333" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="icon" href="res/icon_192.png">
	<link rel="manifest" href="manifest.json" />
	<title>Elyzer</title>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="./colors.css?version=5" />
	<link rel="stylesheet" type="text/css" href="./app.css?version=26" />
	<link rel="stylesheet" type="text/css" href="./menuButton/menuButton.css?version=3" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap" rel="stylesheet">
	<!-- Libraries -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
	<!-- app -->
	<script src="./menuButton/menuButton.js?version=4"></script>
</head>
<body>
	<div id="app" :class="{'finish-screen': finishScreen}" @touchstart="handleTouch" @touchmove="handleMove" @touchend="handleStop" @touchcancel="handleStop">
		<div
			v-for="touchPoint in touchPoints"
			:key="touchPoint.id"
			class="touch-point"
			:class="[{chosen: touchPoint.chosen}, touchPoint.color, {teamed: touchPoint.teamed}]"
			:style="touchPoint.style"
		></div>
		<div v-if="!touchPoints.length" id="placeholder">Place one finger each on the screen</div>
		<div v-if="!deviceHasTouch && !touchPoints.length" id="touch-warning">This app requires a touchscreen</div>
		<div class="controls" v-if="!touchPoints.length">
			<menu-button v-model="nbWinners" :selected="this.mode === 1" :options="[1, 2, 3, 4, 5]" icon="trophy" @open="openWinners" ref="winnerButton"></menu-button>
			<menu-button v-model="teams" :selected="this.mode === 2" :options="[2, 3, 4, 5]" icon="group" @open="openTeams" ref="teamButton"></menu-button>
		</div>
	</div>
</body>
<script src="./app.js?version=55"></script>
</html>
